body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background: url("../images/crossline-lines.png");
}

.content{
    min-height: calc(100vh - 70px);
}

header{
    height: 90px;
    position: relative;
    margin-bottom: 60px;
    margin: auto;
    background: #ffffff;
}

#left:hover{
    color: #ffffff;
    background: #4aaaa5;

}

#left:active{
    background: purple;
    color: #4aaaa5;
}

#mid:hover{
    color: #ffffff;
    background: #4aaaa5;

}

#mid:active{
    background: purple;
    color: #4aaaa5;
}


#right:hover{
    color: #ffffff;
    background: #4aaaa5;

}

#right:active{
    background: purple;
    color: #4aaaa5;
}

#headerborder{
    border-color: #cccccc;
    border-bottom-width: 2px;
    border-style: solid;
    height: 90px;
    width: 100%;
}

#sectionhead{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #ffffff;
    position: absolute;
    color: #4aaaa5;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    padding-right: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-bottom-width: 3px;
    width: 870px;
    margin-bottom: 60px;
    margin-top: 30px;
    margin: auto;
}

#portfoliohead {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #ffffff;
    position: absolute;
    color: #4aaaa5;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    padding-right: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-bottom-width: 3px;
    width: 870px;
    margin-bottom: 60px;
    margin-top: 30px;
    margin: auto;
}

#contacthead{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #ffffff;
    position: absolute;
    color: #4aaaa5;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    padding-right: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-bottom-width: 3px;
    width: 870px;
    margin-bottom: 60px;
    margin-top: 30px;
    margin: auto;
}

#contact-info{
    background-color: #ffffff;
    border-color: #dddddd;
    color: #777777; 
    border-width: 1px;
    border-style: solid;
    width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: auto;
    height: 565px;
    margin-bottom: 20px;
    margin-top: 60px;
}

#form{
    padding-top: 120px;
    margin: auto;
}

.datainput{
    width: 885px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

textarea{
    width: 870px;
    height: 200px;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#button{
    background: #4aaaa5;
    color: #ffffff;
    height: 50px;
    width: 150px;
    font-size: 20px;
    margin-bottom: 30px;
}

#portsection{
    margin: auto;
    height:800px;
    margin-top: 60px;
}

#port-float-left{
    float: left;
    margin-right: 30px;
}

.portfolio-links{
    margin-top: 120px;
    height: 600px;
    position: relative;
}

#hangman{
    position:absolute;
    top: 150px; 
    z-index: 2;
}

#hangmanpic{
    position: absolute;
    z-index: 1;
}

#rpg{
    position: absolute;
    top: 380px;
    z-index: 2;
}

#rpgpic{
    position: absolute;
    top: 230px;
    z-index: 1;
}

#trivia{
    position: absolute;
    top: 615px;
    z-index: 2;
}

#triviapic{
z-index: 1;
position: absolute;
top: 460px;
}

#rutgerspic{
    position: absolute;
    top: 0px;
    z-index: 1;
    left: 300px;
}

#rutgers{
    position: absolute;
    z-index: 2;
    left:300px;
    top: 125px;
    color: #ffffff;
    background: #4aaaa5;
    height: 50px;
    text-align: center;
    padding-bottom: 20px;
}

#rockpic{
    position: absolute;
    z-index: 1;
    left: 300px;
    top: 230px;
}

#rock{
    position: absolute;
    z-index: 2;
    left:300px;
    top: 350px;
    color: #ffffff;
    background: #4aaaa5;
    height: 50px;
    text-align: center;
    padding-bottom: 20px;
}

#headercontent{
    width: 100%;       /*put header border and content in different divs so I could change their width values. This let me extend the border to the edge of the page. margins had to be set to auto for individual pieces because I took it out of the body so the border could extend beyond the 960px limit. */
    margin: auto;
    padding-right: 50px;
}

.my-name{
    color: #ffffff;
    height: 60px;
    width: 225px;
    position: absolute;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 30px;
    background: #4aaaa5;
    font-weight: bold;
    padding-right: 30px;
    margin-left: 200px;
}

.portlink{
    color: #ffffff;
    background: #4aaaa5;
    height: 40px;
    width: 200px;
    font-size: 30px;
    margin-right: 40px;
    text-align: center;
    padding-top: 10px;
}

.portpics{
    width:200px;
}

.nav{
    margin-right: 200px;
}
.nav li {
    float: right;
    padding-top: 40px;
    margin-left: 10px;
    font-size: 18px;
    height: 40px;   
}

.nav a {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
}

#mid {
    border-color: #efefef;
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
}

section{
    background-color: #ffffff;
    border-color: #dddddd;
    color: #777777; 
    border-width: 1px;
    border-style: solid;
    width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin: auto;
    height: 430px;
    margin-bottom: 20px;
    margin-top: 60px;
}

#container{
    margin-top: 120px;
}

#floatleft{
    float: left;
    margin-right: 10px;
}

p{
    line-height: 1.5;
    padding-bottom: 30px;
}

img{
    width: 210px;
}

.portfolio-links{
    background-color: #ffffff;
    border-color: #dddddd;
}

.footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    text-align: center;
    color: #ffffff;
    position: relative;
    margin-top: 100px;
    padding-bottom: 0px;
}

.copyright{
    left: 0px;
    right: 0px;
    font-size: 12px;
    bottom: 0px;
    position: absolute;
}

@media screen and (max-width: 980px) {
    section{
        width: 470px;
        margin-left: 60px;
        margin-right: 30px;
        height: 700px; 
    }

    .my-name{
        margin-left: 0px;
    }
    .nav {
        float: right;
        margin-left: 10px;
        font-size: 18px;
        height: 40px;
        padding-right: 60px;
        margin-right: 60px
    }  

    #sectionhead{
        width: 440px;
    }

    #headerborder{
        width: 980px;
        margin-left: 0px;
        padding-left: 60px;
        padding-right: 60px;
    }

    #headercontent{
        width: 980px;
        padding-left: 0px;
    }

    header{
        width: 980px;
        margin-left: 0px;
    }

    .content{
        width: 400px;
        margin-left: 0px;
    }

    #contact-info{
        width: 500px;
        margin-left: 60px;
        padding-right: 60px;
    }

    #contacthead{
        width: 500px;
    }

    .datainput{
        width: 415px;
        margin-right: 20px;
    }

    textarea{
        width: 400px;
    }

    


}

@media screen and (max-width: 768px) {
    section{
        width: 630px;
        margin-left: 20px;
        margin-right: 20px;
        height: 700px; 
    }

    .nav {
        float: right;
        margin-right: 20px;
        font-size: 18px;
        height: 40px;
        padding-right: 70px;
    }  

    #sectionhead{
        width: 600px;
    }

    #headerborder{
        width: 770px;
        padding-left: 20px;
    }

    #headercontent{
        width: 770px;
    }

    header{
        width: 770px;
        margin-left: 0px;
    }


}  

@media screen and (max-width: 640px){
    body{
        margin: 0;
        padding: 0;
    }

    .content{
        width: 580px;
        margin: 0px, 0px, 0px, 0px;
        margin-left: 0px;
        padding-left: 0px;
    }
    header{
        height: 180px;
        width: 610px;
        padding: 0px, 0px , 0px, 0px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .my-name{
        height: 60px;
        width: 610px;
        text-align: center;
        margin: 0;
        padding: 0;
        padding-top: 35px;
        padding-bottom: 15px;
        margin-left: 0px;
        padding-left: 0px;
    }

    #headerborder{
        width: 610px;
        height: 180px;
        margin-left: 0px;
        padding: 0px, 0px , 0px, 0px;
        padding-left: 0px;
    }

    #headercontent{
        width: 610px;
        height: 180px;
        padding: 0px, 0px, 0px, 0px;
        margin-left: 0px;
    }

    .nav {
        float: right;
        margin-left: 10px;
        font-size: 18px;
        height: 40px;
        padding-right: 70px;
        margin-top: 95px;
        margin-right: 105px;
    }  

    section{
        width: 515px;
        margin-left: 15px;
        height: 700px; 
    }

    #sectionhead{
        width: 490px;
    }

    #container{
        width: 510px;
        margin-left: 0px;
    }

}
